# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    app_name: BaseApp
    app_description: |
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    app_session_name: BASEAPP
    app_session_handler: ~ # null, session.handler.pdo
    app_session_cookie_lifetime: 28800
    app_session_gc_maxlifetime: 1800

    app_form_login_default_target_path: /profile/
   
    oauth_facebook_client_id: ~
    oauth_facebook_client_secret: ~
    
    oauth_github_client_id: ~
    oauth_github_client_secret: ~

    database_type: mysql # msql, pgsql, sqlite
    database_driver: pdo_%database_type%
    database_driver:   pdo_sqlite 
    database_host:     localhost
    database_port:     ~
    database_name:     baseapp
    database_user:     root
    database_password: pass
    
    # You should uncomment this if you want use pdo_sqlite
    database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: smtp
    mailer_encryption: ssl
    mailer_auth_mode: login
    mailer_host: smtp.gmail.com
    mailer_port: 465
    mailer_user: ~
    mailer_password: ~
    mailer_default_email: %mailer_user%

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    locale: pl

    pager.size: 10

    default_timezone: Europe/Warsaw

    exec.inkscape: inkscape

    router.request_context.host: localhost:8000
    router.request_context.scheme: http
    router.request_context.base_url: ~ # /app_dev.php
