# VCS
.git

/bin
properties.cnf

/src/Siciarek/ChatBundle/Controller/DefaultControler.php
/src/Siciarek/ChatBundle/Entity/User.php
/src/Siciarek/ChatBundle/Entity/Group.php
/src/Siciarek/ChatBundle/Resource/views/Default

# PHPStorm
.idea
.DS_Store
nbproject

# Eclipse
.settings
.buildpath
.project

/temp

composer.phar
composer.lock

web/config.php

vendor

*~
composer.phar
composer.lock

# Bootstrap
app/bootstrap*

# Symfony directories
/vendor
*/logs/*
*/cache/*
/app
/web

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

config/config.yml
bin/xbehat/gherkin/i18n.json
/nbproject/private/
/src/Siciarek/ChatBundle/Resources/views/Default/